.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1f1c2c, #928dab);
}

.auth-box {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  padding: 40px;
  border-radius: 15px;
  width: 350px;
  text-align: center;
  color: white;
  box-shadow: 0 0 30px rgba(0,0,0,0.4);
}

.auth-box h2 {
  margin-bottom: 20px;
}

.auth-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
  outline: none;
}

.auth-btn {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
  background: #00e5ff;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.auth-btn:hover {
  background: #00bcd4;
}

.auth-box a {
  color: #00e5ff;
  text-decoration: none;
}