/* PAGE */
.page-container{
  width:100%;
  padding:40px 5%;
  min-height:100vh;
  background:#0f0f0f;
  color:white;
}

.page-container h2{
  margin-bottom:30px;
  font-size:26px;
}

/* GRID */
.movie-grid{
  display:grid;
  grid-template-columns:repeat(auto-fill, minmax(180px,1fr));
  gap:25px;
}

/* CARD */
.movie-grid a{
  text-decoration:none;
  color:white;
  display:block;
  transition:transform 0.25s ease;
}

.movie-grid a:hover{
  transform:scale(1.05);
}

/* POSTER */
.movie-grid img{
  width:100%;
  height:260px;        /* fixed height */
  object-fit:cover;    /* keeps all posters same size */
  border-radius:10px;
  display:block;
}

/* TITLE */
.movie-grid p{
  margin-top:8px;
  font-size:14px;
  font-weight:600;
  text-align:center;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}