.movies-page {
  padding: 50px;
  color: white;
  background-color: #0f0f1a;
  min-height: 100vh;
}

.movies-title {
  margin-bottom: 30px;
  font-size: 28px;
  color: #00e5ff;
  text-shadow: 0 0 10px #00e5ff;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 25px;
}

.movie-card img {
  width: 100%;
  border-radius: 12px;
  transition: 0.3s ease;
}

.movie-card img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #00e5ff55;
}